.wrapper{
    background-image: url("../static_layout/assets/netflix_background.jpg");
    background-color: darkred;
    height: 520px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 200px 20px 600px 150px rgba(0, 0, 0, 0.65) inset,
                -175px 0px 600px 150px rgba(0, 0, 0, 0.65) inset;
    padding: 20px 75px 20px 20px;
    margin: 0px;
}

.container{
    display: grid;
    grid-template-columns: [leftCol] 20% [midCol] 60% [rightCol] 20%  [endCol];
    grid-template-rows: [rowOne] 100px [rowTwo] 60px [rowThree] 110px [rowFour] 120px [rowFive] auto [endRow];
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}


#netflix{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font-size: 50px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
    align-self: start;
    justify-self: center;
    padding: 0px 5px 5px 5px;
}

#signOut{
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px 15px 5px 15px;
    grid-column-start: rightCol;
    grid-column-end: endCol;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
    text-align: center;
    align-self: start;
    justify-self: end;
}

#welcomeBack{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 25px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowTwo;
    grid-row-end: rowThree;
    align-self: start;
    justify-self: center;
}

#seeWhatsNext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size:85px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowThree;
    grid-row-end: rowFour;
    align-self: start;
    justify-self: center;
}

#watchAnywhere{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 33px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowFour;
    grid-row-end: rowFive;
    align-self: start;
    justify-self: center;
}

#restartMembership{
    background-color: red;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 33px;
    text-align: center;
    padding: 20px 55px 20px 65px;
    border: 1px solid red;
    border-radius: 2px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowFive;
    grid-row-end: endRow;
    align-self: center;
    justify-self: center;
}

.navBar{
    width: 100%;
    height: 200px;
    background-color: black;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}