.wrapper{
    margin-right: auto;
    margin-left: auto;
    /* max-width: 1260px; */
    background-color: black;
    border: none;
}

.backgroundImage{
    background-image: url("../static_layout/assets/netflix_background.jpg");
    background-color: darkred;
    height: 87.7vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 15vw 3.3vh 100vh 12vw rgba(0, 0, 0, 0.65) inset,
                -13vw 0vh 100vh 12vw rgba(0, 0, 0, 0.65) inset;
    padding: 3.28vh 6vw 3.28vh 2.4vw;
    margin: 0vh;
}

.containerBackgroundImage{
    display: grid;
    grid-template-columns: [leftCol] 20% [midCol] 60% [rightCol] 20%  [endCol];
    grid-template-rows: [rowOne] 13.68% [rowTwo] 11.4% [rowThree] 21.12% [rowFour] 25% [rowFive] 28.8% [endRow];
    grid-row-gap: 0px;
    grid-column-gap: 0px;
}


#netflix{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: red;
    font-size: 50px;
    text-decoration: none;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
    align-self: start;
    justify-self: center;
    padding: 0px 5px 5px 5px;
}

#signOut{
    background-color: red;
    border: 1px solid red;
    color: white;
    border-radius: 3px;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 1px 15px 5px 15px;
    grid-column-start: rightCol;
    grid-column-end: endCol;
    grid-row-start: rowOne;
    grid-row-end: rowTwo;
    text-align: center;
    align-self: start;
    justify-self: end;
}

#welcomeBack{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 1.55em;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowTwo;
    grid-row-end: rowThree;
    align-self: start;
    justify-self: center;
    padding-top: 1.1em;
}

#seeWhatsNext{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size:5.28em;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowThree;
    grid-row-end: rowFour;
    align-self: start;
    justify-self: center;
    padding-top: .3em;
}

#watchAnywhereBackgroundImage{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    font-size: 2.15em;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowFour;
    grid-row-end: rowFive;
    align-self: start;
    justify-self: center;
    padding-top: .6em;
    padding-bottom: .7em;
}

#restartMembershipBackgroundImage{
    background-color: red;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2.15em;
    text-align: center;
    padding: .5em 1.3em .5em 1.8em;
    border: 1px solid red;
    border-radius: 2px;
    grid-column-start: midCol;
    grid-column-end: rightCol;
    grid-row-start: rowFive;
    grid-row-end: endRow;
    align-self: start;
    justify-self: center;
}

.midBar{
    height: 24.6vh;
    margin: none;
    background-color: rgb(19, 18, 18);
    background-size: cover;
    border-bottom: 2px solid rgb(54, 54, 54);
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    box-align: center;
}

.containerMidBar{
    display: grid;
    grid-template-columns: [firstColLine] 33.3% [secondColLine] 33.4% [thirdColLine] 33.3% [endColLine];
    grid-template-rows: [startRowLine] 24.6vh [endRowLine];
}

#noCommitments{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    padding: 0em 0em 1.5em 11em;
    grid-column-start: firstColLine;
    grid-column-end: secondColLine;
    grid-row-start: startRowLine;
    grid-row-end: endRowLine;
    align-self: end;
    justify-self: center;
}

#watchAnywhereMidBar{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    padding: 0em 0em 3em 0em;
    grid-column-start: secondColLine;
    grid-column-end: thirdColLine;
    grid-row-start: startRowLine;
    grid-row-end: endRowLine;
    align-self: end;
    justify-self: center;
}

#pickYourPrice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.1em;
    text-align: center;
    padding: 0em 11em 3em 0em;
    grid-column-start: thirdColLine;
    grid-column-end: endColLine;
    grid-row-start: startRowLine;
    grid-row-end: endRowLine;
    align-self: end;
    justify-self: center;
}

.bottomThird{
    height: 70vh;
    margin: none;
    background-color: black;
    background-size: cover;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    box-align: center;
}

.containerBottomThird{
    display: grid;
    grid-template-columns: [newColLeft] 17% [leftLine] 33% [centerLine] 33% [rightLine] 17% [newColRight];
    grid-template-rows: [topLine] 50% [midLine] 50% [bottomLine];
    row-gap: 1.5em;
}

#ifYouDecide{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    text-decoration: none;
    font-size: 1.4em;
    text-align: left;
    padding: 1.96em 0em 0em 0em;
    grid-column-start: leftLine;
    grid-column-end: centerLine;
    grid-row-start: topLine;
    grid-row-end: midLine;
    align-self: end;
    justify-self: end;
}

#restartMembershipBottomThird{
    background-color: red;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1.1em;
    text-align: center;
    padding: .8em 2.4em .8em 2.4em;
    border: 1px solid red;
    border-radius: 2px;
    grid-column-start: leftLine;
    grid-column-end: centerLine;
    grid-row-start: midLine;
    grid-row-end: bottomLine;
    align-self: start;
    justify-self: start;
}

#cancelImage{
    height: 53.3vh;
    width: 37vw;
    grid-column-start: centerLine;
    grid-column-end: rightLine;
    grid-row-start: topLine;
    grid-row-end: bottomLine;
    align-self: center;
    justify-self: start;
    padding: 2.4em 0em 0em 0em;
}

.footer{
    height: 57.4vh;
    margin: none;
    background-color: black;
    background-size: cover;
    border: none;
    color: white;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1em;
    box-align: center;
}